h1 {
  text-align: center;
}

td {
  text-align: center;
  width: 100px;
  height: 100px;
}

table {
  margin: 5px auto;
}

.vert {
  border-left: 2px solid black;
  border-right: 2px solid black;
}

.hori {
  border-top: 2px solid black;
  border-bottom: 2px solid black;
}

#board {
  margin: 0 auto;
  border-collapse: collapse;
}

#message {
  text-align: center;
  margin-top: 20px;
  font-size: 30px;
  font-weight: bold;
}

#reset {
  display: inline-block;
  margin: 20px auto;
  padding: 10px 20px;
  font-size: 20px;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  background-color: red;
  color: white;
  cursor: pointer;
}

#start {
  display: inline-block;
  margin: 20px auto;
  padding: 10px 20px;
  font-size: 20px;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  background-color: #4CAF50;
  color: white;
  cursor: pointer;
}
#start:hover {
  background-color: #3e8e41;
}
#reset:hover {
  background-color: rgb(191, 1, 1);
}