.navbar {
    background-color: #3F1052;
    overflow: hidden;
    height: 50px;
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
    align-items: center;
}

.navbar a {
    color: white;
    text-decoration: none;
    margin-right: 20px;
}

.arrow-left {
    font-size: 1.5em;
    color: white;
}

.close-sign {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 2em;
    color: white;
    cursor: pointer;
}

.nav-list {
    list-style: none;
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    width: 50%;
}

.nav-list li {
    display: inline-block;
    margin-right: 10px;
}

.nav-list a {
    float: none;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px;
}

div {
    width: 100%;
    display: block;
}

h2 {
    text-align: center;
}

#leader-board {
    display: flex;
    text-align: center;
    width: 1500px;
    height: auto;
    margin: 0 auto;
}

#semester-years {
    text-align: left;
    flex-wrap: wrap;
    background-color: #f1f3f4;
    position: relative;
    line-height: normal;
    padding: 0 8px;
    width: 1200px;
    height: 200;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th,
td {
    padding: 12px;
    text-align: left;
}

.rank {
    left: 50%;
    position: absolute;
    right: unset;
    top: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}

.last-5-match {
    height: 38px;
    width: 200px;
}

.logo-template {
    display: inline-block;
    height: 16px;
    width: 16px;
    position: relative;
    vertical-align: top;
    top: 12px;
    margin: 0 2px
}